* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  color: #fff;
  background-image: url(img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  height: 100vh;
}
.header {
  padding: 50px 20px 30px 20px;
}
.header h1 {
  font-size: 5vh;
  color: #fbb034;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.9);
}

.ev {
  font-size: 3vh;
  margin-bottom: 1rem;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.9);
  font-weight: 500;
}

.temp {
  font-size: 5vh;
  font-weight: 500;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.9);
}
.rklm {
  font-size: large;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.85);
  background: rgba(0, 0, 0, 0.85);
}
